.core-table {
    display: table;
    width: 100%; 
}

.core-table-cell {
    display: table-cell;
    float: none;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    vertical-align: middle; 
}

#menu .navbar-caption {
    color: #ffffff;
}

#menu .navbar-toggler {
    color: #ffffff;
    position: relative;
}

.navbar-toggler {
  }

.nav-dropdown .nav-item {
    display: table-cell;
    float: none;
    vertical-align: middle; 
}

#menu .link,
#menu .dropdown-item {
    color: #202020;
}

/*a class dropdown-item*/
#menu .link {
    color: #ffffff;
}

#menu .dropdown-item,
#menu .nav-dropdown-sm .link {
    font-size: 0.8rem;
}

#menu .link:hover,
#menu .dropdown-item:hover,
#menu .link:focus,
#menu .dropdown-item:focus {
    color: #f3c649;
}

#menu .nav-dropdown-sm .link:focus,
#menu .nav-dropdown-sm .link:hover,
#menu .nav-dropdown-sm .dropdown-item:focus,
#menu .nav-dropdown-sm .dropdown-item:hover {
    background: #202020!important;
}

#menu .link[aria-expanded="true"],
#menu .dropdown-item[aria-expanded="true"] {
    color: #f3c649!important;
}

/*div celebrity class dropdown-menu*/
#menu .navbar,
#menu .nav-dropdown-sm,
#menu .nav-dropdown-sm .link[aria-expanded="true"],
#menu .nav-dropdown-sm .dropdown-menu {
    background: #202020;
}

.core-section {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.core-section {
    padding-top: 60px;
    padding-bottom: 60px; 
}

/*core-section*/
.container {
    position: relative; 
}

.core-table-md-up {
    width: 100%;
    display: table;
}



.image-size {
    vertical-align: middle;
    margin: auto;
    text-align: center; 
}

.core-figure {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 50%; }

.image-size .core-figure {
    padding-top: 3px; 
}

.lead p {
    font-size: 1.07rem;
    font-weight: 300;
    margin-bottom: 2.3125rem; 
}

.lead {
    font-size: 1.07rem;
    font-weight: 300; 
}

.core-section-title {
    margin-top: 0; 
}

.core-footer {
    background: #323232;
    color: #acacac;
    font-size: 0.8125rem;
    padding: 1.75rem 0; 
}

.slide {
    border-radius: 4px;
    padding: 5px;
    width: 100%;    
}

.core-carousel {
    margin: auto;
    align-self: center;
}
